*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    height: 10vh;
    width: 90%;
    margin: auto;
    display: flex;
    padding-top: 28px;
    align-items: baseline;
}
header span{
    font-size: 2em;
    flex: 1;
}
header a{
    text-decoration: none;
    color: black;
    font-size: 1.25em;
    margin-left: 20px;
    padding: 0 10px;
    border: 2px solid transparent;
    border-radius: 15px 5px 2px 2px;
}
header figure{
    display: none;
    cursor: pointer;  
}
.menu a{
    display: none;
}
.hidden{
    display: none;
}
.activePage{
    border-color: tomato;
}
header a:hover{
    background: tomato;
    border-color: tomato;
}



main{
    width: 90%;
    margin: auto;
}
section.home{
    display: flex;
    justify-content: space-around;
    min-height: 90vh;
    align-items: center;
}
.home .description .title{
    display: block;
    font-size: 2.5em;
}
.home .description .title span{
    display: inline-block;
    margin-right: 20px;
}
.home .description .buttons{
    display: flex;
    justify-content: start;
}
.home .description .buttons a{
    text-decoration: none;
    color: black;
    border: 2px solid tomato;
    border-radius: 5px 15px 2px 2px;
    padding: 0 10px;
    font-size: 1.25em;
    margin: 10px 20px 0 0;
}
.home .description .buttons a:hover{
    background: tomato;
    color: white;
}

@media (max-width: 768px){
    header a{
        margin-left: 5px;
        padding: 0 5px;
    }
    section{
        flex-direction: column-reverse;
    }
    section.home{
        justify-content: center;
    }
    .home .description{
    }
    .home figure{
        padding-bottom: 20px;
    }
}

@media (max-width: 610px)
{
    header a{
        display: none;
    }
    header figure{
        display: block;
    }
    header .menu{
        position: absolute;
        top: 10%;
        right: 10%;
        border-radius: 15px 5px 2px 2px;
        background: rgba(245, 245, 245, .9);
        padding: 10px 10px 0 5px;
        z-index: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
    header .menu a{
        display: block;
        margin-bottom: 10px;
    }
}
